repos:
-   repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
    - id: black
-   repo: https://github.com/pycqa/isort
    rev: 5.9.1
    hooks:
      - id: isort
        files: '.*'
        args: [ --profile=black, --project=popmon ]
-   repo: https://github.com/PyCQA/flake8
    rev: "3.9.2"
    hooks:
    -   id: flake8
        additional_dependencies:
            - flake8-comprehensions
        args: [ "--select=E9,F63,F7,F82,C4"]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.19.4
    hooks:
    -   id: pyupgrade
        args: ['--py36-plus','--exit-zero-even-if-changed']
        
ci:
    autoupdate_commit_msg: 'ci: pre-commit-config update'
