<div class="col-md-{% if 'full_width' in metric %}12{% else %}6{% endif %} mb-5" >
    <a name="{% if feature%}{{ feature.name }}-{%endif%}{{ metric.name }}"></a>
    <div class="card shadow-sm">
        <div class="card-body" style="text-align: center">
            <h4 class="card-title">{{metric.name | fmt_metric}}</h4>
            {% if metric.description|length %}
                <p class="card-text">{{metric.description}}</p>
            {% endif %}
        </div>
        <div id= "{% if feature%}{{ feature.name }}-{%endif%}{{ metric.name }}"> </div>
        {% if (('Overview' in section_title) or ('traffic_light' in metric.type)) %}
            {{ metric.plot }}
        {% else %}
            {% if 'barplot' in metric.type %}
            <script>
                TESTER = document.getElementById("{% if feature%}{{ feature.name }}-{%endif%}{{ metric.name }}");
                Plotly.newPlot(TESTER, JSON.parse('{{ metric.plot | tojson }}'), JSON.parse('{{ metric.layout | tojson }}'), {scrollZoom: true});  
            </script>
            {% else %}
                <script>
                    TESTER = document.getElementById("{% if feature%}{{ feature.name }}-{%endif%}{{ metric.name }}");
                    Plotly.newPlot(TESTER, JSON.parse('{{ metric.plot | tojson }}'), plot_layout["{{ metric.type }}"], {scrollZoom: true});  
                </script>
            {% endif %} 
        {% endif %} 
    </div>
</div>