name: license

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Golang
      uses: actions/setup-go@v2
      with:
        go-version: '^1.16' # See https://github.com/google/go-licenses/issues/75
    - name: Install addlicense
      run: |
        export PATH=${PATH}:`go env GOPATH`/bin
        go get -v -u github.com/google/addlicense
    - name: Check license
      run: |
        export PATH=${PATH}:`go env GOPATH`/bin
        addlicense -check -l mit -c "ING Wholesale Banking Advanced Analytics" $(find popmon/ -type f -name '*.py' -not -path popmon/version.py)
